<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Doubutsu · <%= @title %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <nav role="navigation">
        <ul>
          <li class="brand"><a href="/">Doubutsu</a></li>
          <li><a href="#">something</a></li>
          <li><a href="#">something</a></li>
          <li><a href="#">something</a></li>
          <li><a href="#">something</a></li>
          <li><a href="#">something</a></li>
          <li class="right">
            <%= if assigns[:current_user] do %>
              Hello, <span class="username"><%= link @current_user.username, to: Routes.user_path(@conn, :show, @current_user.id) %></span>
              <span class="money"><%= link @current_user.inventory.money, to: Routes.inventory_path(@conn, :show_individual) %> ¥</span>
              <span class="logout"><%= link "Logout", to: Routes.session_path(@conn, :delete), method: :delete %>
            <% else %>
              <%= link "Login", to: Routes.session_path(@conn, :new) %> or <%= link "sign up!", to: Routes.user_path(@conn, :new) %>
            <% end %>
          </li>
        </ul>
      </nav>
    </header>
    <main role="main">
      <div class="container">
        <div class="sidebar">
          <div class="pet-container">
            <p><b><%= @current_user.owner.active_pet.name %></b></p>
            <%= PetView.pet_img(@current_user.owner.active_pet) %>
            <p><b>Breed</b>: <%= @current_user.owner.active_pet.breed.name %></p>
            <p><b>Health</b>: <%= @current_user.owner.active_pet.health %>/<%= @current_user.owner.active_pet.max_health %></p>
            <p><b>Hunger</b>: <%= PetView.hunger_str(@current_user.owner.active_pet.hunger) %></p>
            <p><b>Age</b>: <%= PetView.age_str(@current_user.owner.active_pet.inserted_at) %></p>
            <p><b>Level</b>: <%= @current_user.owner.active_pet.level %></p>
          </div>
        </div>
        <div class="content">
          <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
          <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
          <%= @inner_content %>
          <br>
          <br>
        </div>
      </div>
    </main>
    <footer>
      <p>Doubutsu is a product no one really cares about in any capacity. All rights still reserved.</p>
    </footer>
  </body>
</html>
