.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 0;
  border: 1px solid #af0f0c;
  margin-top: 1em;
  .header {
    background-color: #af0f0c;
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #ffe6e6;
    font-size: 1.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
  }
  .info {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

.alert p {
  margin-bottom: 0;
  margin-top: 0;
}

.alert:empty {
  display: none;
}

.invalid-feedback {
  color: #a94442;
  display: block;
  text-align: center;
}

html,
body {
  margin: 0;
  min-height: 100vh;
  height: 100%;
}

html {
  overflow: visible;
}

body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 75px 1fr 75px;
  box-sizing: border-box;
  overflow: visible;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto;
  grid-row: 2;
}

.sidebar {
  grid-column: 1;
  grid-row: 1;
  background-color: rgba(0, 0, 0, 0.5);
  border-right: 2px solid;
}

.content {
  grid-column: 2;
  grid-row: 1;
  .left-align {
    margin-left: 1em;
  }
}

.pet-container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-color: rgba(255,255,255,0.75);
  padding: 0.25em;
  border-radius: 0.1em;
  margin-top: 1em;
  p {
    margin:0;
  }
  img {
    border: 2px solid black;
  }
}

header {
  grid-row: 1;
  border-bottom: 2px solid black;
  background-color: rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-rows: 0.5fr 0.25fr 0.5fr;
}

footer {
  grid-row: 3;
  border-top: 2px solid black;
  background-color: rgba(0, 0, 0, 0.25);
  padding-left: 1em;
  display: grid;
  grid-template-rows: 0.5fr 0.25fr 0.5fr;
  * {
    grid-row: 2;
  }
}

nav {
  grid-row: 2;
  ul {
    padding: 0;
    margin: 0;
    li {
      display: inline;
      margin-left: 0.25em;
      margin-right: 0.25em;
    }
    li.brand {
      font-size: 1.25em;
      font-weight: bold;
      margin-left: 2em;
    }
    li.right {
      float: right;
      margin-right: 2em;
    }
  }
}

h1,
h2 {
  text-align: center;
}

a,
a:visited {
  color: inherit;
}

.username,
.money {
  font-weight: 500;
  margin-right: 0.5em;
  padding-right: 0.5em;
  border-right: 1px solid;
}

.splash {
  width: 350px;
}

.greet {
  text-align: center;
}

.input-group {
  margin-left: 1em;
  margin-bottom: 1em;
  label {
    display: block;
    text-align: center;
  }
  input, textarea, select {
    width: 40%;
    height: 2em;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  textarea {
    height: 8em;
  }

  button[type="submit"] {
    width: 20%;
    height: 2em;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}


.inventory {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 800px;
  img {
    border: 1px solid black;
    width: 80px;
  }
  .item-box {
    margin: 0.5em;
    background-color: rgba(0, 0, 0, 0.125);
    padding: 0.5em
  }
}

.item-name {
  font-weight: bold;
}

.centered {
  hr {
    width: 50%;
  }
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.scratchcard {
  display: grid;
  width:360px;
  margin-left: auto;
  margin-right: auto;
  grid-template-rows: 1fr 1fr 1fr;
  .row {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
  }
  .row-1 {
    grid-row: 1;
  }
  .row-2 {
    grid-row: 2;
  }
  .row-3 {
    grid-row: 3;
  }
  .col-start {
    grid-column: 1;
    width: 180px;
  }
  .col-1 {
    grid-column: 2;
    width: 60px;
  }
  .col-2 {
    grid-column: 3;
    width: 60px;
  }
  .col-3 {
    grid-column: 4;
    width: 60px;
  }
}

.loc-description {
  width:90%;
  margin-left:auto;
  margin-right: auto;
}

.pet-information {
  text-align: start;
  font-size: 0.75em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.pet-breed-selection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.pet-breed {
  text-align: center;
  background-color: #AAA;
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  * {
    display: block;
  }
  img, input {
    margin-left: auto;
    margin-right: auto;
  }
}