<h1>Listing Items</h1>

<div class="inventory">
<%= for item <- @items do %>
  <%= render DoubutsuWeb.ItemView, "_item.html", item: item %>
<% end %>
</div>

<span><%= link "New Item", to: Routes.item_path(@conn, :new) %></span>
