<h1>Inventory</h1>

<p class="left-align"><b><%= ngettext "You have 1 item.", "You have %{count} items.", Enum.count(@inventory.instances) %> </b>

<div class="inventory">
<%= for instance <- @inventory.instances do %>
  <%= render DoubutsuWeb.ItemView, "_item.html", item: instance.item %>
<% end %>
</div>
