<h1>Inventory</h1>

<p class="left-align"><b>Number of items:</b> <%= Enum.count(@inventory.instances) %>

<div class="inventory">
<%= for instance <- @inventory.instances do %>
  <%= render DoubutsuWeb.ItemView, "_item.html", item: instance.item %>
<% end %>
</div>
